apiVersion: v1
name: caluma
description: A collaborative form editing service
version: 0.10.3
appVersion: 9.3.1
keywords:
- caluma
home: https://caluma.io/
icon: https://avatars0.githubusercontent.com/u/42172011?s=200&v=4
sources:
- https://github.com/projectcaluma/caluma
maintainers:
- name: Caluma
  email: contact@caluma.io
engine: gotpl
